/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v27-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v27-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --basic-white: #ffffff;
  --basic-extra-white: #EEEEEE;
  --special-white: #D5D5D5;
  --special-extra-white:#DFDFDF;
  --button-social-network: #E1E1E1;
  --rgba-white: rgba(255, 255, 255, 0.3);
  --basic-carbonic: #4D4D4D;
  --basic-black: #000000;
  --basic-extra-black: #283136;
  --special-black: rgba(0, 0, 0, 0.3);
  --special-extra-black: #A6A6A6;
  --basic-gray: #666666;
  --basic-extra-gray: #444444;
  --basic-pink: #FB565A;
  --basic-extra-pink: #E74246;
  --special-pink: #D7373B;
  --basic-green: #00CA74;
  --basic-extra-green: #00BC6C;
  --special-green: #00AA62;
  --basic-yellow: #EFC849;
  --basic-extra-yellow: #EAB534;
  --special-yellow:#E5A722;
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* body */
body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-black);
    text-transform: none;
    background-color: var(--basic-white);
}
.page {
  height: 100%;
}

.body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page p{
  white-space: pre-line;
  margin: 0;
  padding: 0;
}

.page a {
  text-decoration: none;
  color: var(--basic-black);
}

.page .btn {
  height: 50px;
  border-radius: 3px;
  border: none;
  color: var(--basic-white);
  line-height: 18px;
}

.page .btn:active span {
  opacity: 0.3;
}

.page ul {
  list-style: none;
}

/* header */

.main-header {
  display: flex;
  justify-content: center;
  background-color: var(--basic-extra-white);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1160px;
  min-height: 114px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}


.site-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 437px;
  height: min-content;
  margin: 75px 0 9px 0;
  padding: 0;
}

.main-logo {
  line-height: 0;
  margin-right: 202px;
  height: 100%;
}
.main-logo svg {
  padding-top: 48px;
}

.main-logo:active path {
  fill: var(--special-extra-black);
}

.user-nav {
  position: relative;
  margin-left: 246px;
  margin-bottom: 9px;
  padding-left: 40px;
}
.user-nav::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 15px;
  height: 15px;
  background-image: url(../img/svg/cart-icon.svg);
  background-repeat: no-repeat;
}

.site-nav a:hover,
.user-nav:hover {
  color: var(--basic-pink);
}

.site-nav a:active,
 .user-nav:active span{
   color: var(--basic-black);
   opacity: 0.3;
}

/* main */

 /* features */

 .studio-features {
  display: flex;
  justify-content: center;
  background-color: var(--basic-extra-white);
 }

 .studio-features-container {
   display: flex;
   width: 1160px;
 }

 .informations-features-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 397px;
 }

 .studio-features p:first-child {
   font-weight: 500;
   font-size: 55px;
   line-height: 55px;
   color: var(--basic-black);
   white-space: pre-line;
   margin-bottom: 25px;
 }

  .studio-features .btn {
    flex-wrap: wrap;
    width: 240px;
    height: min-content;
    margin-top: 38px;
    padding: 17px 54px 15px 54px;
    background-color: var(--basic-pink);
  }

 .studio-features .btn:hover {
   background-color: var(--basic-extra-pink);
 }

 .studio-features .btn:active {
   background-color: var(--special-pink);
 }

 /* services */

 .services {
   display: grid;
   justify-content: center;
 }

 .list-services {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  justify-items: start;
  column-gap: 100px;
  row-gap: 20px; 
  width: 1160px;
  margin: 0;
  padding: 80px 0;
  border-bottom: 2px solid var(--basic-extra-white);
 }

 .services-title {
   font-weight: bold;
   font-size: 24px;
   line-height: 30px;
   text-transform: uppercase;
   color: var(--basic-black);
   margin-top: 25px;
   margin-bottom: 16px;
 }

 .services .btn{
  width: 160px;
  margin-top: 32px;
 }

 .item-website .btn {
   background-color: var(--basic-pink);
 }
 .item-mobileapp .btn {
  background-color: var(--basic-green);
 }
 .item-presentations .btn {
   background-color: var(--basic-yellow);
 }

 .item-website .btn:hover{
  background-color: var(--basic-extra-pink);
 }
 .item-mobileapp .btn:hover {
  background-color: var(--basic-extra-green);
 }
 .item-presentations .btn:hover {
   background-color: var(--basic-extra-yellow);
 }

 .item-website .btn:active {
  background-color: var(--special-pink);
 }
 .item-mobileapp .btn:active {
  background-color: var(--special-green);
 }
 .item-presentations .btn:active {
   background-color: var(--special-yellow);
 }


 /* about studio */


.about-studio {
  display: flex;
  justify-content: center;
}

.shared-container-about-studio {
  display: flex;
  width: 1160px;
  padding-bottom: 80px;
  padding-top: 39px;
  border-bottom: 2px solid var(--basic-extra-white);
}

.about-us-wrapper {
  display: grid;
  width: 800px;
}

.studio-principles p:first-child {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  white-space: pre-line;
  margin-top: 34px;
  margin-bottom: 32px;
}

/* type-orders */

.title-orders {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 40px;
  margin-bottom: 23px;
}

.list-orders {
  display: grid;
  row-gap: 37px;
  min-height: 120px;
  width: 399px;
  margin: 0;
  padding: 0;
  }

  .list-orders .item-list{
    position: relative;
    padding-left: 37px;
  }

.list-orders .item-list::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-pink);
  left: 0;
  top: 12px;
}


.about-studio-percent{
  display: flex;
  flex-direction: column;
  width: 360px;
  position: relative;
  justify-content: flex-end;
}

.about-studio-percent::after {
  content: "";
  position: absolute;
  width: 360px;
  height: 208px;
  background-image: url(../img/nerds-illustration.jpg);
  background-repeat: no-repeat;
  top:0;
}

.about-studio-percent .date-studio{
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 37px;
  margin-bottom: 31px;
  align-self: center;
}

.quality-percentage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.level-dedication,
.compliance-timing,
.minimum-prepayment {
  display: grid;
}

.level-dedication dt,
.compliance-timing dt,
.minimum-prepayment dt {
  order: 1;
  line-height: 18px;
}
.level-dedication dd,
.compliance-timing dd,
.minimum-prepayment dd {
margin:0;
padding: 0;
font-size: 45px;
font-weight: bold;
line-height: 64px;
color: var(--basic-black);
}

/* partners */

.partners {
  display: grid;
  justify-content: center;
}

.list-partners {
  display: grid;
  width: 1160px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  padding: 46px 0 44px 0;
  margin: 0;
  border-bottom: 2px solid var(--basic-extra-white);
}

.list-partners .item-list{
  line-height: 0;
}

.list-partners img{
  opacity: 0.2;
}

.list-partners img:hover{
  opacity: 1;
}

.list-partners img:active{
  opacity: 0.1;
}


/* footer */

.main-footer {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  padding: 80px 0 68px 0;
}

.contacts {
  display: grid;
  width: 1440px;
  position: relative;
}

.contacts::after {
content: "";
position: absolute;
width: 231px;
height: 190px;
background-image: url(../img/svg/map-marker.svg);
background-repeat: no-repeat;
left: 822px;
top: 86px;
}

.contacts img {
  position: absolute;
  z-index: -1;
}



.contacts-informations {
  display: flex;
  flex-direction: column;
  width: 319px;
  height: 308px;
  background-color: var(--basic-white);
  padding-left: 50px;
  box-sizing: border-box;
  position: absolute;
  top: 54px;
  left: 140px;
}

.studio-name {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  margin: 49px 0 23px 0;
}
.contacts p,
.contacts a{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gray);
}
.contacts .btn {
  width: 219px;
  margin-bottom: 47px;
  background-color: var(--basic-pink);
}
.contacts .btn:hover {
  background-color: var(--basic-extra-pink);
}

/* social */
.social-networks {
  display: grid;
  width: 1160px;
  margin-top: 484px;
}

.social-networks-wrapper {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.list-social-networks {
  display: flex;
  justify-content: space-between;
  width: 260px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.list-social-networks .btn {
  width: 81px;
  height: 81px;
  background-color: var(--button-social-network);
  border-radius: 50%;
}

.list-social-networks .btn:hover {
  background-color: var(--basic-extra-pink);
}
.list-social-networks .btn:active {
  background-color: var(--special-pink);
}

.list-social-networks .btn:active path {
  fill-opacity: 0.3;
}

.discount p:first-child {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: var(--basic-black);
  margin-bottom: 10px;
  margin-top: 6px;
}
.social-networks p {
  color: var(--basic-extra-gray);
  line-height: 22px;
}






/*style for product page  */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* body */
body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-black);
    text-transform: none;
    background-color: var(--basic-white);

}
.product-page {
  height: 100%;
}

/* .body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
} */

/* .page p{
  white-space: pre-line;
  margin: 0;
  padding: 0;
} */

.product-page a {
  text-decoration: none;
  color: var(--basic-black);
}

.product-page button {
  height: 50px;
  border-radius: 3px;
  border: none;
  color: var(--basic-white);
  line-height: 18px;
}

.product-page button:active {
  color: var(--rgba-white);
}

.product-page ul {
  list-style: none;
}

/*store main footer */

.store-main-footer {
  padding: 60px 0 68px 0;
}
